<div class="card col-md-6 m-3" >
    <div class="card-header">    <button class="btn btn-primary" (click)="imprimer()" >Imprimer</button>
</div>

<div class="card-header" id="content" #content> 
  
     <h2 style="font-weight: 700;" class="m-3 text-center" color="primary"> 
    Certificat Médicale
         </h2>
        <p>Je sousigné Dr        <input type="text"  style="border:none" placeholder="............................................">
            Docteur en médecine 
       
        certifie que l'examen de Mr/Mme <input type="text" style="border:none" placeholder="............................................">
    <br>
    Age : <input type="text" style="border:none" placeholder="............................................">
    <br>
    Certificat établie à : <input type="text" style="border:none" placeholder="............................................">
    <br>
    <br>
    <br>

    Date: <input type="text" style="border:none" placeholder="">    
                                             Signature
</p> 
       
        </div>

         