
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block text-center"  color="primary" style="width:20%">
  <h3 class="w3-bar-item" style="font-weight: 700;">Sécretaire</h3>
  <a   class="w3-bar-item w3-button mt-5" routerLinkActive="active" style="background-color: rgb(40, 207, 171); " (click)="navigate()">Rendez-vous</a>
  <a   class="w3-bar-item w3-button mt-3" routerLinkActive="active" style="background-color: rgb(40, 207, 171);">Patient</a>
  <a   class="w3-bar-item w3-button mt-4"  > <mat-icon>logout</mat-icon>LogOut</a>

</div>

<!-- Page Content  -->
<div style="margin-left:20%">

<div class="w3-container w3-teal">
  <h1>Gestion de cabinet médicale</h1>
</div>


<div class="w3-container">
  <router-outlet></router-outlet>
</div>

</div>

